.pagecontent{
    margin-top: 5%;
    color: #000;
    justify-content: center;
    align-items: center;
}
.space {
    float: right;
}
.centeritem {
    left: 35%;
}
.next_prev_btn {
    width: 250px;
    margin-bottom: 15px;
}